body {
  background-color: lightgrey;
}

.chatBotContainer{
	width:100%;
}

.chatBotContainer .rsc-container{
	width:100% !important;
}

.chatBotContainer div:first-child{
	border-radius:0px;
}

.chatBotContainer .rsc-content{
	height:500px
}

.chatBotContainer .rsc-footer{
	border-top: 1px solid #3a3f51 !important;
}


.chatBotContainer h2{
	font-size:20px;
}


.LogoutContainer{
	text-align: right;
	margin-right: 10px;
}

.LogoutContainer a{
		color:#3A3F51;
		font-weight:bold;	
}

.rsc-os-options {
  	margin-left: 50px !important;
}

.rsc-os-options .rsc-os-option {
	display: list-item !important;
	list-style: none !important;
}

.rsc-os-options .rsc-os-option .rsc-os-option-element {
	background: #9396a5 !important;
    border-radius: 8px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) !important;
    color: #fdf7f7 !important;
    display: inline-block !important;
    padding: 7px !important;
    margin: 2px 0px !important;
    text-transform: none !important;
}

.rsc-os-options .rsc-os-option .rsc-os-option-element:hover {
	background: #5871d4;
	text-transform: none !important;
	color: #ffffff;
} 
